## MacOS Hidden Directories and Files ########################################################### ##

__MACOSX/
.DS_Store

## Windows Hidden Directories and Files ######################################################### ##

$RECYCLE.BIN/
Desktop.ini
Thumbs.db

## Editors ###################################################################################### ##

.idea/
.vscode/

## Project files ################################################################################ ##

node_modules/
